/* Global Styles */
:root {
    --primary-color: #e50914;
    --dark-color: #141414;
    --light-color: #f4f4f4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: #000;
    color: #999;
    height: 1000px;
}

ul {
    list-style: none;
}

.sign-in {
    background-image: url(../imges/background.png);
    background-size: cover;
    text-align: center;
    color: var(--light-color);
    position: relative;
    z-index: 2;

}

.sign-in::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}


.sign-in .container {
    padding: 40px;

}


.sign-in .container .sing-in-content {
    position: relative;
}

.sign-in .container .sing-in-content img {
    width: 200px;
    margin: 40px 0;

}

.sign-in .container .sing-in-content button {
    background-color: var(--primary-color);
    color: var(--light-color);
    width: 70px;
    height: 25px;
    border: none;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 40px;
    transform: translateY(-50%);
}

.sign-in .container .sing-in-info h1 {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.1;
    margin: 0 0 2rem;
}

.sign-in .container .sing-in-info h2 {
    font-size: 2.0rem;
    font-weight: 600;
    line-height: 1.1;
    margin: 0 0 2rem;
}

.sign-in .container .sing-in-info a {
    text-decoration: none;
    color: var(--light-color);
    background-color: var(--primary-color);
    padding: 20px;
    font-size: 3rem;
}

.sign-in .container .sing-in-info a i::after {
    content: "\f054";
}

.sign-in-footer {
    background-color: var(--dark-color);
    color: var(--light-color);

}

.sign-in-footer .container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
}

.sign-in-footer .container .tab-item {
    color: #999;
    text-align: center;

}

.sign-in-footer .container .tab-item:hover {
    color: var(--light-color);

}

.sign-in-footer .container .tab-item i {
    margin-bottom: 20px;
    text-align: center;
}

.sign-in-footer .container .tab-item {
    padding-bottom: 20px;
}

/* end .sign-in */
.tap-1 .container {
    padding: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.tap-1 .container .tap-1-text {
    max-width: 300px;
}

.tap-1 .container .tap-1-text p {
    color: var(--light-color);
    font-size: 2rem;
}

.tap-1 .container .tap-1-text button {
    border: none;
    color: var(--light-color);
    background-color: var(--primary-color);
    padding: 20px;
    font-size: 1rem;
}


.tap-1 .container .tap-1-img img {
    width: 400px;

}

.tap-1-footer .container {
    padding: 30px 160px;
}

.tap-1-footer .container .boxs {

    display: flex;
    align-items: center;
    justify-content: space-between;
}